:root {
    --fuenteHeading: 'Archivo Black', sans-serif;
    --fuenteParrafos: 'Roboto', sans-serif;
    --rubik: 'Rubik', sans-serif;
    --bgColorDark: #0f172a;
    --bgColorPurple: #6820a4;
    --colorPrincipal: #424874;
    --colorSecundario: #A6B1E1;
    --colorSecundario2: #DCD6F7;
    --colorSecundario3: #F4EEFF;
    --gris: #9198a5;

    --main-bg: #B2BEB5;

    /* Gradient */
    --gradienteSkew: linear-gradient(to right, #141e30, #243b55, #141e30);
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    margin: 0;
    background-color: black;
}

h1 { font-size: 6rem; }
h2 { font-size: 4.2rem; }
h3 { font-size: 2.4rem; }

a {
    text-decoration: none;
}

.heading {
    padding-top: 5rem;
    width: 100vw;
    height: 45rem;
    background-color: black;
}

@media (max-width: 768px) {
    .heading {
        flex-direction: column;
        align-items: center;
    }
}

/* Nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding-right: 5rem;
    height: 7rem;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0), rgba(0, 0, 0, 0.9));
    z-index: 100;
}

.logo {
    width: 10rem;
}

.nav-enlaces {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.nav-enlace {
    font-size: 2rem;
    color: var(--gris);
    background-image: linear-gradient(to right, #fff, #fff);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position:  bottom;
    transition: all .4s;
}
.nav-enlace:hover {
    color: #fff;
    background-size: 100% 2px;
}

.nav-button {
    cursor: pointer;
}
.nav-button svg {
    transition: .4s;
}
.nav-button:hover svg {
    stroke: #fff;
}

.nav-spacing {
    display: none;
}

@media (min-width: 768px) {
    nav {
        position: fixed;
    }
    .nav-spacing {
        display: block;
        height: 7rem;
    }
}

@media (max-width: 768px) {
    nav {
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
        padding-right: 0;
        height: 25rem;
    }

    .nav-enlaces {
        flex-direction: column;
    }

    .nav-spacing {
        height: 30rem;
    }
}

/* Front letters */

.front {
    margin: 0 auto;
    max-width: 60rem;
    height: 40rem;
    align-items: center;
    font-family: var(--rubik);
}

@media (max-width: 767px) {
    .heading {
        height: 30rem;
    }
    .front {
        width: 70%;
        height: 20rem;
    }

}
@media (max-width: 480px) {
    .heading {
        height: 30rem;
    }
    .front {
        width: 80%;
        height: 25rem;
    }
}
@media (max-width: 380px) {
    .heading {
        height: 20rem;
    }
    .front {
        width: 80%;
        height: 15rem;
    }
    img {
        width: 70%;
    }
}

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word {
    font-size: 7rem;
    text-transform: uppercase;
    cursor: default;
    color: white;
    transition: all .5s;
    margin: 0;
}

.link {
    cursor: pointer;
    margin: 0;
    font-size: 7rem;
    text-transform: uppercase;
    color: white;
}
@media (max-width: 1140px) {
    .word, .link {
        font-size: 6rem;
    }
}
@media (max-width: 767px) {
    .word, .link {
        font-size: 3.5rem;
    }
}
@media (max-width: 480px) {
    .word, .link {
        font-size: 3.5rem;
    }
}
@media (max-width: 380px) {
    .word, .link {
        font-size: 2rem;
    }
}

.front:has(.word:hover) .word:not(.word:hover) {
    opacity: 0.2;
}

#linkedin:hover > span {
    background: linear-gradient(to right, blue, cyan, blue);
    background-size: 800%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rotate-bg 150 linear infinite;
}
#mail:hover > span {
    background: linear-gradient(to right, #FF3232, #FFDCDC, #FF3232);
    background-size: 800%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rotate-bg 150s linear infinite;
}

span {
    display: inline-block;
    transition: .5s;
}

.front #linkedin:hover span,
.front #mail:hover span {
    position: relative;
    animation: letter-bounce .8s ease-in-out infinite alternate;
}

.front #linkedin:hover span:nth-child(1),
.front #mail:hover span:nth-child(1) { animation-delay: 75ms;}
.front #linkedin:hover span:nth-child(2),
.front #mail:hover span:nth-child(2) {animation-delay: 125ms;}
.front #linkedin:hover span:nth-child(3),
.front #mail:hover span:nth-child(3) {animation-delay: 200ms;}
.front #linkedin:hover span:nth-child(4),
.front #mail:hover span:nth-child(4) {animation-delay: 275ms;}
.front #linkedin:hover span:nth-child(5),
.front #mail:hover span:nth-child(5) {animation-delay: 350ms;}
.front #linkedin:hover span:nth-child(6),
.front #mail:hover span:nth-child(6) {animation-delay: 425ms;}
.front #linkedin:hover span:nth-child(7),
.front #mail:hover span:nth-child(7) {animation-delay: 500ms;}
.front #linkedin:hover span:nth-child(8),
.front #mail:hover span:nth-child(8) {animation-delay: 575ms;}
.front #linkedin:hover span:nth-child(9),
.front #mail:hover span:nth-child(9) {animation-delay: 650ms;}
.front #linkedin:hover span:nth-child(10),
.front #mail:hover span:nth-child(10) {animation-delay: 725ms;}


.front .word:hover span:nth-child(1) {transform: rotate(-30deg) translate(-10%, -20%);}
.front .word:hover span:nth-child(2) {transform: rotate(10deg) translateY(-20%);}
.front .word:hover span:nth-child(3) {transform: rotate(-10deg) translate(30%, -40%);}
.front .word:hover span:nth-child(4) {transform: rotate(10deg) translateY(-20%);}
.front .word:hover span:nth-child(5) {transform: rotate(10deg) translate(20%, -20%);}
.front .word:hover span:nth-child(6) {transform: rotate(-20deg) translate(40%, -20%);}
.front .word:hover span:nth-child(7) {transform: rotate(10deg) translateY(30%);}
.front .word:hover span:nth-child(8) {transform: rotate(-35deg) translate(0%, -10%);}
.front .word:hover span:nth-child(9) {transform: rotate(-50deg) translate(40%, -55%);}
.front .word:hover span:nth-child(10) {transform: rotate(-20deg) translate(-80%, 20%);}

/* Animation */
@keyframes rotate-bg {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 800%;
    }
}

@keyframes letter-bounce {
    0% {
        top: 0px;
    }
    100% {
        top: -5px;
    }
}

@keyframes moving-text-bg {
    0% {
        background-position: 0 center;
    }
    100% {
        background-position: -200% center;
    }
}

/* Utilities */

.no-margin {
    margin: 0;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.gap3 {
    gap: 3rem;
}

.wrapper {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.bg-transition {
    height: 30rem;
    background-image: url("../svg/stacked-steps-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-transition-2 {
    height: 15rem;
    background-image: url("../svg/wave-haikei.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
@media (min-width: 2140px) {
    .bg-transition {
        height: 60rem;
    }
    .bg-transition-2 {
        height: 30rem;
    }
}

/* Main Content */

.main-content {
    padding-top: 15rem;
    padding-bottom: 15rem;
    background-color: white;
    width: 100vw;
}

.sobre-mi {
    width: 100vw;
    padding: 0 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width: 1140px) {
    .sobre-mi {
        padding: 0 4rem;
    }
}
@media (max-width: 768px) {
    .sobre-mi {
        padding: 0 2rem;
    }
}

.card {
    opacity: 0; 
    transform: translateX(-10rem);
    /* For intersection observer */
    width: 100%;
    height: 100%;
    background-color: white;
    border: 3px solid black;
    transition: opacity 1s ease-in-out, transform .5s ease-out;
}
.card--show {
    opacity: 1;
    transform: translateX(0);
}

.card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
@media (max-width: 1140px) {
    .card-content {
        flex-direction: column;
    }
}

.card img {
    width: 30%;
    height: 80%;
}
@media (max-width: 1140px) {
    .card img {
        width: 60%;
        height: 60%;
    }
}
@media (max-width: 768px) {
    .card img {
        width: 90%;
        height: 90%;
    }
}

.card-separator {
    opacity: .5;
    margin: 0 3rem;
    position: relative;
    top: -3rem;
}

.card-text {
    font-size: 2rem;
    margin: 0 4rem 4rem 4rem;
}

/* Skew content section */

.skew {
    height: 50rem;
    margin-top: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 0;
}

.skew-text {
    font-size: 2rem;
    margin: 0;
    text-align: center;
    padding: 2rem 20rem 0 20rem;
}
@media (max-width: 768px) {
    .skew-text {
        padding: 2rem 4rem 0 4rem;
    }
}

.skew::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-size: 200%;
    top: 0;
    background-image: var(--gradienteSkew);
    transform: skewY(-5deg);
    z-index: -1;
    /* animation: bg-rotate 10s linear infinite; */
}

@keyframes skewRotate {
    0% {
        transform: skewY(5deg);
    }
    50% {
        transform: skewY(-5deg);
    }
    100% {
        transform: skewY(5deg);
    }
}

@keyframes bg-rotate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 200%;
    }
}

/* Scrollbar styling */

/* Chrome, Safari and Edge */
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #d6d6d6;
}

body::-webkit-scrollbar
{
    width: 12px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #8c8c8c;
}
body::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #737373;
}
body::-webkit-scrollbar-thumb:vertical:active {
  background-color: #535353;
}

/* Firefox */
html {
    scrollbar-color: #8c8c8c #d6d6d6;
    scrollbar-width: thin;
}